.about__header {
    color: #fff;
    /* padding: 2rem; */
    /* border-radius: 1rem; */
    
}

.about__hero-content {
    background-image: url(./images/about-itp-hero.png);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 90vh;
    position: relative;
}

.hero-top h1 {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    text-align: left;
    width: 100%;
    max-width: 500px;
    margin: 0;
    padding: 0;
}

.hero-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 2rem;
    box-sizing: border-box;
    gap: 2rem;
}

.hero-bottom-left {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    line-height: 1.5;
    width: auto;
    max-width: 400px;
}

.hero-bottom-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: auto;
}

.about__subtitle {
    padding: 2rem;
    padding-top: 10rem;
}

.about__subtitle h2 {
    color: #fff;
    font-size: 2rem;
    margin-bottom: 2rem;
    margin-left: 30%;
    width: 500px;
}

.about__subtitle-content {
    color: rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-left: 30%;
}

.achievements {
    padding: 4rem 2rem;
    color: #fff;
}

.achievements h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 4rem;
}

.achievements__table {
    max-width: 1200px;
    /* margin: 0 auto; */
}

.achievement__row {
    display: flex;
    padding: 2rem 0;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

.achievement__row:first-child {
    border-top: 2px solid rgba(255, 255, 255, 0.1);
}


.achievement__title {
    flex: 0 0 30%;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
}

.achievement__description {
    color: rgba(255, 255, 255, 0.5);
    line-height: 1.5;
    max-width: 500px;
    text-align: justify;
}

.achievements__cta {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
}

.contact-form-about {
    padding: 2rem;
    padding-top: 10rem;
}



