.hardware__hero-content {
    position: relative;
}

.hardware__hero-top {
    position: relative;
    top: 0;
    left: 0;
    font-size: 2rem;
    text-align: left;
    width: 100%;
    margin-top: 2rem;
}

.hardware__hero-top h1 {

    font-size: 3rem;
}

.hardware__hero-bottom-content {
    background-image: url(./images/hardware-hero.png);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 90vh;
    width: 100%;
    animation: fadeInBackground 3s ease-out forwards;
}

@keyframes fadeInBackground {
    0% {
        opacity: 0;
        transform: scale(1.1);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.hardware__hero-bottom {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
    padding: 2rem;

    width: 70%;
    margin-left: auto;
}

.hardware__hero-bottom-left {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    line-height: 1.5;
    width: auto;
    max-width: 400px;
}

.hardware__hero-bottom-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: auto;
}

